.actions-container {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding: 0.4rem 0.8rem;
  font-weight: 500;
  background-color: aquamarine;
  color: black;
  border-radius: 3px;
}
